{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Profil
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Vos informations personnelle</h1>

    {% if user.roles.0 == 'ROLE_ADMIN' %}
        <p class="text-center text-secondary">Vous êtes ADMINISTRATEUR du site</p>
    {% endif %}

    {# {{ dump(user) }} #}

    <div class="col-6 mx-auto accordion mb-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Email
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.email }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Prénom
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                <span>{{ user.prenom }}</span>
                <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Nom
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.nom }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Adresse
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.adresse }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Ville
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.ville }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Code Postal
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.codePostal }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
    </div>

    <h4 class="text-center my-5">Vos articles</h4>

    {% if user.article is not empty %}
    
        <table class="table table-borderless mb-5" id="table-profil">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Date publication</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for data in user.article %}
                <tr>
                    <td>
                        <a href="{{ path('blog_show', {'id': data.id}) }}" class="link-secondary">{{ data.titre }}</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('blog_categorie', {'id': data.category.id}) }}" class="link-secondary">{{ data.category.titre }}</a>
                    </td>
                    <td class="text-center">{{ data.date|date('d/m/Y à H:i:s') }}</td>
                    <td class="text-center">
                        <a href="{{ path('blog_edit', {'id': data.id}) }}" class="text-dark"><i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p class="text-secondary fst-italic text-center">Vous n'avez encore posté aucun article</p>    

    {% endif %}
    
{% endblock %}