{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Détails de l'article
{% endblock %}

{% block body %}

    {# <h1 class="text-center my-5">Détails de l'article</h1> #}

    {# cet objet 'article' ne sort pas de null part, c'est ce que le controller a transmit au template, c'est à dire les informations d'1 article selectionné en BDD en fonction de l'ID transmit dans l'URL #}
    {# {{ dump(article) }} #}

    {# Affichage des messages utilisateus stockés en session (addFlash dans le controller) #}
    {# app : objet twig qui contient toute les informations de la session en cours #}
    {% for message in app.flashes('success') %}
        <div class="col-4 mx-auto text-center bg-success p-3 text-white mb-3">
        {{ message }}
        </div>
    {% endfor %}

    {% if article.photo != null %}
        {% set col = 8 %} {# set permet de déclarer des variables en TWIG #}
    {% else %}
        {% set col = 12 %}
    {% endif %}

    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col-{{ col }} p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">{{ article.titre }}</h3>
                <div class="mb-1 text-muted">Publié le {{ article.date|date('d/m/Y') }} à {{ article.date|date('H:i:s') }}</div>

                {{ article.contenu|raw }}

                <p class="mt-3 h-100 d-flex align-items-end">
                    <a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-dark">Modifier</a>
                    &nbsp;&nbsp;
                    <a href="#" class="btn btn-dark">Imprimer</a>
                </p>
            </div>

            {% if article.photo != null %}

                <div class="col-4 d-none d-lg-block">

                    <img src="{{ asset('uploads/photos/' ~ article.photo) }}" alt="{{ article.titre }}" class="col-12 img-responsive">

                </div>

            {% endif %}
        </div>
    </div>
    
{% endblock %}