{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Liste des commentaires
{% endblock %}

{% block body %}

    <table class="table table-striped" id="table-commentaire">
        <thead>
            <tr class="table-success">
            {# colonnes : objet (BackOfficeController) qui contient tout les noms des champs/colonnes de la table sql Comment #}
            {% for data in colonnes %}

                {# on exclu la colonne 'id' #}
                {% if data != 'id' %}

                    {# capitalize : filtre Twig permettant de mettre la 1ère de la chaine de caractères en majuscule #}
                    <th class="text-center">{{ data|capitalize }}</th>
                    
                {% endif %}

            {% endfor %}
                <th class="text-center">Article</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for data in commentaires %}

            <tr>
                <td>{{ data.commentaire|slice(0,120)|striptags }}[...]</td>
                <td class="text-center">{{ data.auteur }}</td>
                <td>{{ data.date|date('d/m/Y à H:i:s') }}</td>
                <td><a href="{{ path('blog_show', {'id': data.article.id}) }}" class="link-secondary">{{ data.article.titre }}</a></td>

                <td>
                    <a href="" class="btn btn-success mb-3"><i class="bi bi-pencil-square"></i>
                    </a>
                    <br>
                    <a href="{{ path('app_admin_commentaire_remove', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous réellement supprimer le commentaire posté par {{ data.auteur }}'));">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}