{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Liste des catégories
{% endblock %}

{% block body %}

    {# affichage des messages utilisateur #}
    {% for label, messages in app.flashes(['success', 'danger']) %}

        {% for message in messages %}
            {# on sert de l'identifiant du message (success, danger) pour les intégrer comme class bootstrap #}
            {#                                      -success             #}
            <div class="col-6 mx-auto text-center bg-{{ label }} p-3 text-white mb-3">
            {{ message }}
            </div>
        {% endfor %}
        
    {% endfor %}

    <table class="table table-striped" id="table-category">
        <thead>
            <tr class="table-success">
            {# colonnes : objet (BackOfficeController) qui contient tout les noms des champs/colonnes de la table sql Article #}
            {% for data in colonnes %}

                {# on exclu la colonne 'id' #}
                {% if data != 'id' %}

                    {# capitalize : filtre Twig permettant de mettre la 1ère de la chaine de caractères en majuscule #}
                    <th class="text-center">{{ data|capitalize }}</th>
                    
                {% endif %}

            {% endfor %}
                <th class="text-center">Nb Art.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for data in allCategory %}
            
            <tr>
                <td>{{ data.titre }}</td>
                <td>{{ data.description }}</td>
                <td class="text-center">{{ data.articles|length }}</td>
                <td>
                    <a href="{{ path('app_admin_categorie_add') }}" class="btn btn-primary mb-3"><i class="bi bi-plus-square"></i>
                    </a>
                    <br>
                    <a href="{{ path('app_admin_categorie_update', {'id': data.id}) }}" class="btn btn-success mb-3"><i class="bi bi-pencil-square"></i>
                    </a>
                    <br>
                    <a href="{{ path('app_admin_categorie_remove', {'id': data.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous réellement supprimer la catégorie {{ data.titre }}'));">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}